
raw/.DS_Store
raw/2008.dta
raw/2009.dta
raw/2010.dta
raw/2011.dta
raw/2012.dta
raw/2013.dta
raw/2013_raw.dta
raw/2014.dta
raw/2014_raw.dta
raw/2015.dta
raw/2015_raw.dta
raw/2016.dta
raw/2016_raw.dta
raw/2017.dta
raw/add_school_params/.DS_Store
raw/add_school_params/adm2016.do
raw/add_school_params/adm2016_data_stata.csv
raw/add_school_params/CollegeScorecard_Raw_Data/.DS_Store
raw/add_school_params/CollegeScorecard_Raw_Data/Crosswalks.zip
raw/add_school_params/CollegeScorecardDataDictionary.xlsx
raw/add_school_params/ef2016a.do
raw/add_school_params/ef2016a_data_stata.csv
raw/add_school_params/election/.ipynb_checkpoints/2016_US_County_Level_Presidential_Results-checkpoint.ipynb
raw/add_school_params/election/.ipynb_checkpoints/US_County_Level_Presidential_Results_12-16-checkpoint.ipynb
raw/add_school_params/election/2016_US_County_Level_Presidential_Results.csv
raw/add_school_params/election/2016_US_County_Level_Presidential_Results.ipynb
raw/add_school_params/election/index.html
raw/add_school_params/election/README.md
raw/add_school_params/election/run-notebook.sh
raw/add_school_params/election/us.json
raw/add_school_params/election/US_County_Level_Presidential_Results_08-16.csv
raw/add_school_params/election/US_County_Level_Presidential_Results_12-16.csv
raw/add_school_params/election/US_County_Level_Presidential_Results_12-16.ipynb
raw/add_school_params/election/US_County_Results_08-16_process.sql
raw/add_school_params/election/vega.json
raw/add_school_params/hd2016.do
raw/add_school_params/hd2016_data_stata.csv
raw/add_school_params/MERGED2015_16_PP.csv
raw/add_school_params/sfa1516 2.do
raw/add_school_params/sfa1516.do
raw/add_school_params/sfa1516_data_stata.csv
raw/add_school_params/US_County_Level_Election_Results_08-16-master.zip
raw/b.csv
raw/casedate.dta
raw/caselag1.dta
raw/caselag2.dta
raw/caselead1.dta
raw/caselead2.dta
raw/cases.dta
raw/cases.json
raw/Crime2008EXCEL/Noncampusarrest050607.xls
raw/Crime2008EXCEL/Noncampusarrest050607_Doc.doc
raw/Crime2008EXCEL/Noncampuscrime050607.xls
raw/Crime2008EXCEL/Noncampuscrime050607_Doc.doc
raw/Crime2008EXCEL/Noncampusdiscipline050607.xls
raw/Crime2008EXCEL/Noncampusdiscipline050607_Doc.doc
raw/Crime2008EXCEL/Noncampushate050607.xls
raw/Crime2008EXCEL/Noncampushate050607_Doc.doc
raw/Crime2008EXCEL/Oncampusarrest050607.xls
raw/Crime2008EXCEL/Oncampusarrest050607_Doc.doc
raw/Crime2008EXCEL/Oncampuscrime050607.xls
raw/Crime2008EXCEL/Oncampuscrime050607_Doc.doc
raw/Crime2008EXCEL/Oncampusdiscipline050607.xls
raw/Crime2008EXCEL/Oncampusdiscipline050607_Doc.doc
raw/Crime2008EXCEL/Oncampushate050607.xls
raw/Crime2008EXCEL/Oncampushate050607_Doc.doc
raw/Crime2008EXCEL/Publicpropertyarrest050607.xls
raw/Crime2008EXCEL/Publicpropertyarrest050607_Doc.doc
raw/Crime2008EXCEL/Publicpropertycrime050607.xls
raw/Crime2008EXCEL/Publicpropertycrime050607_Doc.doc
raw/Crime2008EXCEL/Publicpropertydiscipline050607.xls
raw/Crime2008EXCEL/Publicpropertydiscipline050607_Doc.doc
raw/Crime2008EXCEL/Publicpropertyhate050607.xls
raw/Crime2008EXCEL/Publicpropertyhate050607_Doc.doc
raw/Crime2008EXCEL/ReadMe.txt
raw/Crime2008EXCEL/Reportedarrest050607.xls
raw/Crime2008EXCEL/Reportedarrest050607_Doc.doc
raw/Crime2008EXCEL/Reportedcrime050607.xls
raw/Crime2008EXCEL/Reportedcrime050607_Doc.doc
raw/Crime2008EXCEL/Reporteddiscipline050607.xls
raw/Crime2008EXCEL/Reporteddiscipline050607_Doc.doc
raw/Crime2008EXCEL/Reportedhate050607.xls
raw/Crime2008EXCEL/Reportedhate050607_Doc.doc
raw/Crime2008EXCEL/Residencehallarrest050607.xls
raw/Crime2008EXCEL/Residencehallarrest050607_Doc.doc
raw/Crime2008EXCEL/Residencehallcrime050607.xls
raw/Crime2008EXCEL/Residencehallcrime050607_Doc.doc
raw/Crime2008EXCEL/Residencehallhate050607.xls
raw/Crime2008EXCEL/Residencehallhate050607_Doc.doc
raw/Crime2009EXCEL/noncampusarrest060708.xls
raw/Crime2009EXCEL/Noncampusarrest060708_Doc.doc
raw/Crime2009EXCEL/Noncampuscrime060708.xls
raw/Crime2009EXCEL/Noncampuscrime060708_Doc.doc
raw/Crime2009EXCEL/Noncampusdiscipline060708.xls
raw/Crime2009EXCEL/Noncampusdiscipline060708_Doc.doc
raw/Crime2009EXCEL/Noncampushate060708.xls
raw/Crime2009EXCEL/Noncampushate060708_Doc.doc
raw/Crime2009EXCEL/Oncampusarrest060708.xls
raw/Crime2009EXCEL/Oncampusarrest060708_Doc.doc
raw/Crime2009EXCEL/Oncampuscrime060708.xls
raw/Crime2009EXCEL/Oncampuscrime060708_Doc.doc
raw/Crime2009EXCEL/Oncampusdiscipline060708.xls
raw/Crime2009EXCEL/Oncampusdiscipline060708_Doc.doc
raw/Crime2009EXCEL/Oncampushate060708.xls
raw/Crime2009EXCEL/Oncampushate060708_Doc.doc
raw/Crime2009EXCEL/Publicpropertyarrest060708.xls
raw/Crime2009EXCEL/Publicpropertyarrest060708_Doc.doc
raw/Crime2009EXCEL/Publicpropertycrime060708.xls
raw/Crime2009EXCEL/Publicpropertycrime060708_Doc.doc
raw/Crime2009EXCEL/Publicpropertydiscipline060708.xls
raw/Crime2009EXCEL/Publicpropertydiscipline060708_Doc.doc
raw/Crime2009EXCEL/Publicpropertyhate060708.xls
raw/Crime2009EXCEL/Publicpropertyhate060708_Doc.doc
raw/Crime2009EXCEL/ReadMe.txt
raw/Crime2009EXCEL/Reportedarrest060708.xls
raw/Crime2009EXCEL/Reportedarrest060708_Doc.doc
raw/Crime2009EXCEL/Reportedcrime060708.xls
raw/Crime2009EXCEL/Reportedcrime060708_Doc.doc
raw/Crime2009EXCEL/Reporteddiscipline060708.xls
raw/Crime2009EXCEL/Reporteddiscipline060708_Doc.doc
raw/Crime2009EXCEL/Reportedhate060708.xls
raw/Crime2009EXCEL/Reportedhate060708_Doc.doc
raw/Crime2009EXCEL/Residencehallarrest060708.xls
raw/Crime2009EXCEL/Residencehallarrest060708_Doc.doc
raw/Crime2009EXCEL/Residencehallcrime060708.xls
raw/Crime2009EXCEL/Residencehallcrime060708_Doc.doc
raw/Crime2009EXCEL/Residencehalldiscipline0708.xls
raw/Crime2009EXCEL/residencehalldiscipline0708_Doc.doc
raw/Crime2009EXCEL/Residencehallhate060708.xls
raw/Crime2009EXCEL/Residencehallhate060708_Doc.doc
raw/Crime2010EXCEL/Noncampusarrest070809.xls
raw/Crime2010EXCEL/Noncampusarrest070809_Doc.doc
raw/Crime2010EXCEL/Noncampuscrime070809.xls
raw/Crime2010EXCEL/Noncampuscrime070809_Doc.doc
raw/Crime2010EXCEL/Noncampusdiscipline070809.xls
raw/Crime2010EXCEL/Noncampusdiscipline070809_Doc.doc
raw/Crime2010EXCEL/Noncampushate070809.xls
raw/Crime2010EXCEL/Noncampushate070809_Doc.doc
raw/Crime2010EXCEL/Oncampusarrest070809.xls
raw/Crime2010EXCEL/Oncampusarrest070809_Doc.doc
raw/Crime2010EXCEL/Oncampuscrime070809.xls
raw/Crime2010EXCEL/Oncampuscrime070809_Doc.doc
raw/Crime2010EXCEL/Oncampusdiscipline070809.xls
raw/Crime2010EXCEL/Oncampusdiscipline070809_Doc.doc
raw/Crime2010EXCEL/Oncampushate070809.xls
raw/Crime2010EXCEL/Oncampushate070809_Doc.doc
raw/Crime2010EXCEL/Publicpropertyarrest070809.xls
raw/Crime2010EXCEL/Publicpropertyarrest070809_Doc.doc
raw/Crime2010EXCEL/Publicpropertycrime070809.xls
raw/Crime2010EXCEL/Publicpropertycrime070809_Doc.doc
raw/Crime2010EXCEL/Publicpropertydiscipline070809.xls
raw/Crime2010EXCEL/Publicpropertydiscipline070809_Doc.doc
raw/Crime2010EXCEL/Publicpropertyhate070809.xls
raw/Crime2010EXCEL/Publicpropertyhate070809_Doc.doc
raw/Crime2010EXCEL/ReadMe.txt
raw/Crime2010EXCEL/Reportedarrest070809.xls
raw/Crime2010EXCEL/Reportedarrest070809_Doc.doc
raw/Crime2010EXCEL/Reportedcrime070809.xls
raw/Crime2010EXCEL/Reportedcrime070809_Doc.doc
raw/Crime2010EXCEL/Reporteddiscipline070809.xls
raw/Crime2010EXCEL/Reporteddiscipline070809_Doc.doc
raw/Crime2010EXCEL/Reportedhate070809.xls
raw/Crime2010EXCEL/Reportedhate070809_Doc.doc
raw/Crime2010EXCEL/Residencehallarrest070809.xls
raw/Crime2010EXCEL/Residencehallarrest070809_Doc.doc
raw/Crime2010EXCEL/Residencehallcrime070809.xls
raw/Crime2010EXCEL/Residencehallcrime070809_Doc.doc
raw/Crime2010EXCEL/Residencehalldiscipline070809.xls
raw/Crime2010EXCEL/Residencehalldiscipline070809_Doc.doc
raw/Crime2010EXCEL/Residencehallfire09.xls
raw/Crime2010EXCEL/Residencehallfire09_Doc.doc
raw/Crime2010EXCEL/Residencehallhate070809.xls
raw/Crime2010EXCEL/Residencehallhate070809_Doc.doc
raw/Crime2010EXCEL/~$campusarrest070809_Doc.doc
raw/Crime2010EXCEL/~$campuscrime070809_Doc.doc
raw/Crime2011EXCEL/Noncampusarrest080910.xls
raw/Crime2011EXCEL/Noncampusarrest080910_Doc.doc
raw/Crime2011EXCEL/Noncampuscrime080910.xls
raw/Crime2011EXCEL/Noncampuscrime080910_Doc.doc
raw/Crime2011EXCEL/Noncampusdiscipline080910.xls
raw/Crime2011EXCEL/Noncampusdiscipline080910_Doc.doc
raw/Crime2011EXCEL/Noncampushate080910.xls
raw/Crime2011EXCEL/Noncampushate080910_Doc.doc
raw/Crime2011EXCEL/Oncampusarrest080910.xls
raw/Crime2011EXCEL/Oncampusarrest080910_Doc.doc
raw/Crime2011EXCEL/Oncampuscrime080910.xls
raw/Crime2011EXCEL/Oncampuscrime080910_Doc.doc
raw/Crime2011EXCEL/Oncampusdiscipline080910.xls
raw/Crime2011EXCEL/Oncampusdiscipline080910_Doc.doc
raw/Crime2011EXCEL/Oncampushate080910.xls
raw/Crime2011EXCEL/Oncampushate080910_Doc.doc
raw/Crime2011EXCEL/Publicpropertyarrest080910.xls
raw/Crime2011EXCEL/Publicpropertyarrest080910_Doc.doc
raw/Crime2011EXCEL/Publicpropertycrime080910.xls
raw/Crime2011EXCEL/Publicpropertycrime080910_Doc.doc
raw/Crime2011EXCEL/Publicpropertydiscipline080910.xls
raw/Crime2011EXCEL/Publicpropertydiscipline080910_Doc.doc
raw/Crime2011EXCEL/Publicpropertyhate080910.xls
raw/Crime2011EXCEL/Publicpropertyhate080910_Doc.doc
raw/Crime2011EXCEL/ReadMe.txt
raw/Crime2011EXCEL/Reportedarrest080910.xls
raw/Crime2011EXCEL/Reportedarrest080910_Doc.doc
raw/Crime2011EXCEL/Reportedcrime080910.xls
raw/Crime2011EXCEL/Reportedcrime080910_Doc.doc
raw/Crime2011EXCEL/Reporteddiscipline080910.xls
raw/Crime2011EXCEL/Reporteddiscipline080910_Doc.doc
raw/Crime2011EXCEL/Reportedhate080910.xls
raw/Crime2011EXCEL/Reportedhate080910_Doc.doc
raw/Crime2011EXCEL/Residencehallarrest080910.xls
raw/Crime2011EXCEL/Residencehallarrest080910_Doc.doc
raw/Crime2011EXCEL/Residencehallcrime080910.xls
raw/Crime2011EXCEL/Residencehallcrime080910_Doc.doc
raw/Crime2011EXCEL/Residencehalldiscipline080910.xls
raw/Crime2011EXCEL/Residencehalldiscipline080910_Doc.doc
raw/Crime2011EXCEL/Residencehallfire09.xls
raw/Crime2011EXCEL/Residencehallfire09_Doc.doc
raw/Crime2011EXCEL/Residencehallfire10.xls
raw/Crime2011EXCEL/Residencehallfire10_Doc.doc
raw/Crime2011EXCEL/Residencehallhate080910.xls
raw/Crime2011EXCEL/Residencehallhate080910_Doc.doc
raw/Crime2012EXCEL/Noncampusarrest091011.xls
raw/Crime2012EXCEL/Noncampusarrest091011_Doc.doc
raw/Crime2012EXCEL/Noncampuscrime091011.xls
raw/Crime2012EXCEL/Noncampuscrime091011_Doc.doc
raw/Crime2012EXCEL/Noncampusdiscipline091011.xls
raw/Crime2012EXCEL/Noncampusdiscipline091011_Doc.doc
raw/Crime2012EXCEL/Noncampushate091011.xlsx
raw/Crime2012EXCEL/Noncampushate091011_Doc.doc
raw/Crime2012EXCEL/Oncampusarrest091011.xls
raw/Crime2012EXCEL/Oncampusarrest091011_Doc.doc
raw/Crime2012EXCEL/Oncampuscrime091011.xls
raw/Crime2012EXCEL/Oncampuscrime091011_Doc.doc
raw/Crime2012EXCEL/Oncampusdiscipline091011.xls
raw/Crime2012EXCEL/Oncampusdiscipline091011_Doc.doc
raw/Crime2012EXCEL/Oncampushate091011.xlsx
raw/Crime2012EXCEL/Oncampushate091011_Doc.doc
raw/Crime2012EXCEL/Publicpropertyarrest091011.xls
raw/Crime2012EXCEL/Publicpropertyarrest091011_Doc.doc
raw/Crime2012EXCEL/Publicpropertycrime091011.xls
raw/Crime2012EXCEL/Publicpropertycrime091011_Doc.doc
raw/Crime2012EXCEL/Publicpropertydiscipline091011.xls
raw/Crime2012EXCEL/Publicpropertydiscipline091011_Doc.doc
raw/Crime2012EXCEL/Publicpropertyhate091011.xlsx
raw/Crime2012EXCEL/Publicpropertyhate091011_Doc.doc
raw/Crime2012EXCEL/ReadMe.txt
raw/Crime2012EXCEL/Reportedarrest091011.xls
raw/Crime2012EXCEL/Reportedarrest091011_Doc.doc
raw/Crime2012EXCEL/Reportedcrime091011.xls
raw/Crime2012EXCEL/Reportedcrime091011_Doc.doc
raw/Crime2012EXCEL/Reporteddiscipline091011.xls
raw/Crime2012EXCEL/Reporteddiscipline091011_Doc.doc
raw/Crime2012EXCEL/Reportedhate091011.xlsx
raw/Crime2012EXCEL/Reportedhate091011_Doc.doc
raw/Crime2012EXCEL/Residencehallarrest091011.xls
raw/Crime2012EXCEL/Residencehallarrest091011_Doc.doc
raw/Crime2012EXCEL/Residencehallcrime091011.xls
raw/Crime2012EXCEL/Residencehallcrime091011_Doc.doc
raw/Crime2012EXCEL/Residencehalldiscipline091011.xls
raw/Crime2012EXCEL/Residencehalldiscipline091011_Doc.doc
raw/Crime2012EXCEL/Residencehallfire09.xls
raw/Crime2012EXCEL/Residencehallfire09_Doc.doc
raw/Crime2012EXCEL/Residencehallfire10.xls
raw/Crime2012EXCEL/Residencehallfire10_Doc.doc
raw/Crime2012EXCEL/Residencehallfire11.xls
raw/Crime2012EXCEL/Residencehallfire11_Doc.doc
raw/Crime2012EXCEL/Residencehallhate091011.xlsx
raw/Crime2012EXCEL/Residencehallhate091011_Doc.doc
raw/Crime2013EXCEL/noncampusarrest101112.xls
raw/Crime2013EXCEL/Noncampusarrest101112_Doc.doc
raw/Crime2013EXCEL/noncampuscrime101112.xls
raw/Crime2013EXCEL/Noncampuscrime101112_Doc.doc
raw/Crime2013EXCEL/noncampusdiscipline101112.xls
raw/Crime2013EXCEL/Noncampusdiscipline101112_Doc.doc
raw/Crime2013EXCEL/noncampushate101112.xlsx
raw/Crime2013EXCEL/Noncampushate101112_Doc.doc
raw/Crime2013EXCEL/oncampusarrest101112.xls
raw/Crime2013EXCEL/Oncampusarrest101112_Doc.doc
raw/Crime2013EXCEL/oncampuscrime101112.xls
raw/Crime2013EXCEL/Oncampuscrime101112_Doc.doc
raw/Crime2013EXCEL/oncampusdiscipline101112.xls
raw/Crime2013EXCEL/Oncampusdiscipline101112_Doc.doc
raw/Crime2013EXCEL/oncampushate101112.xlsx
raw/Crime2013EXCEL/Oncampushate101112_Doc.doc
raw/Crime2013EXCEL/Publicpropertyarrest101112.xls
raw/Crime2013EXCEL/Publicpropertyarrest101112_Doc.doc
raw/Crime2013EXCEL/Publicpropertycrime101112.xls
raw/Crime2013EXCEL/Publicpropertycrime101112_Doc.doc
raw/Crime2013EXCEL/Publicpropertydiscipline101112.xls
raw/Crime2013EXCEL/Publicpropertydiscipline101112_Doc.doc
raw/Crime2013EXCEL/publicpropertyhate101112.xlsx
raw/Crime2013EXCEL/Publicpropertyhate101112_Doc.doc
raw/Crime2013EXCEL/ReadMe.txt
raw/Crime2013EXCEL/reportedarrest101112.xls
raw/Crime2013EXCEL/Reportedarrest101112_Doc.doc
raw/Crime2013EXCEL/reportedcrime101112.xls
raw/Crime2013EXCEL/Reportedcrime101112_Doc.doc
raw/Crime2013EXCEL/reporteddiscipline101112.xls
raw/Crime2013EXCEL/Reporteddiscipline101112_Doc.doc
raw/Crime2013EXCEL/reportedhate101112.xlsx
raw/Crime2013EXCEL/Reportedhate101112_Doc.doc
raw/Crime2013EXCEL/Residencehallarrest101112.xls
raw/Crime2013EXCEL/Residencehallarrest101112_Doc.doc
raw/Crime2013EXCEL/Residencehallcrime101112.xls
raw/Crime2013EXCEL/Residencehallcrime101112_Doc.doc
raw/Crime2013EXCEL/Residencehalldiscipline101112.xls
raw/Crime2013EXCEL/Residencehalldiscipline101112_Doc.doc
raw/Crime2013EXCEL/Residencehallfire10.xls
raw/Crime2013EXCEL/Residencehallfire10_Doc.doc
raw/Crime2013EXCEL/Residencehallfire11.xls
raw/Crime2013EXCEL/Residencehallfire11_Doc.doc
raw/Crime2013EXCEL/Residencehallfire12.xls
raw/Crime2013EXCEL/Residencehallfire12_Doc.doc
raw/Crime2013EXCEL/residencehallhate101112.xlsx
raw/Crime2013EXCEL/Residencehallhate101112_Doc.doc
raw/Crime2014EXCEL/noncampusarrest111213.xls
raw/Crime2014EXCEL/Noncampusarrest111213_Doc.doc
raw/Crime2014EXCEL/noncampuscrime111213.xls
raw/Crime2014EXCEL/Noncampuscrime111213_Doc.doc
raw/Crime2014EXCEL/noncampusdiscipline111213.xls
raw/Crime2014EXCEL/Noncampusdiscipline111213_Doc.doc
raw/Crime2014EXCEL/noncampushate111213.xlsx
raw/Crime2014EXCEL/Noncampushate111213_Doc.doc
raw/Crime2014EXCEL/oncampusarrest111213.xls
raw/Crime2014EXCEL/Oncampusarrest111213_Doc.doc
raw/Crime2014EXCEL/oncampuscrime111213.xls
raw/Crime2014EXCEL/Oncampuscrime111213_Doc.doc
raw/Crime2014EXCEL/oncampusdiscipline111213.xls
raw/Crime2014EXCEL/Oncampusdiscipline111213_Doc.doc
raw/Crime2014EXCEL/oncampushate111213.xlsx
raw/Crime2014EXCEL/Oncampushate111213_Doc.doc
raw/Crime2014EXCEL/publicpropertyarrest111213.xls
raw/Crime2014EXCEL/Publicpropertyarrest111213_Doc.doc
raw/Crime2014EXCEL/publicpropertycrime111213.xls
raw/Crime2014EXCEL/Publicpropertycrime111213_Doc.doc
raw/Crime2014EXCEL/publicpropertydiscipline111213.xls
raw/Crime2014EXCEL/Publicpropertydiscipline111213_Doc.doc
raw/Crime2014EXCEL/publicpropertyhate111213.xlsx
raw/Crime2014EXCEL/Publicpropertyhate111213_Doc.doc
raw/Crime2014EXCEL/ReadMe.txt
raw/Crime2014EXCEL/reportedarrest111213.xls
raw/Crime2014EXCEL/Reportedarrest111213_Doc.doc
raw/Crime2014EXCEL/reportedcrime111213.xls
raw/Crime2014EXCEL/Reportedcrime111213_Doc.doc
raw/Crime2014EXCEL/reporteddiscipline111213.xls
raw/Crime2014EXCEL/Reporteddiscipline111213_Doc.doc
raw/Crime2014EXCEL/reportedhate111213.xlsx
raw/Crime2014EXCEL/Reportedhate111213_Doc.doc
raw/Crime2014EXCEL/residencehallarrest111213.xls
raw/Crime2014EXCEL/Residencehallarrest111213_Doc.doc
raw/Crime2014EXCEL/residencehallcrime111213.xls
raw/Crime2014EXCEL/Residencehallcrime111213_Doc.doc
raw/Crime2014EXCEL/residencehalldiscipline111213.xls
raw/Crime2014EXCEL/Residencehalldiscipline111213_Doc.doc
raw/Crime2014EXCEL/residencehallfire11.xls
raw/Crime2014EXCEL/Residencehallfire11_Doc.doc
raw/Crime2014EXCEL/residencehallfire12.xls
raw/Crime2014EXCEL/Residencehallfire12_Doc.doc
raw/Crime2014EXCEL/residencehallfire13.xls
raw/Crime2014EXCEL/Residencehallfire13_Doc.doc
raw/Crime2014EXCEL/residencehallhate111213.xlsx
raw/Crime2014EXCEL/Residencehallhate111213_Doc.doc
raw/Crime2015EXCEL/noncampusarrest121314.xls
raw/Crime2015EXCEL/Noncampusarrest121314_Doc.doc
raw/Crime2015EXCEL/noncampuscrime121314.xls
raw/Crime2015EXCEL/Noncampuscrime121314_Doc.doc
raw/Crime2015EXCEL/noncampusdiscipline121314.xls
raw/Crime2015EXCEL/Noncampusdiscipline121314_Doc.doc
raw/Crime2015EXCEL/noncampushate121314.xlsx
raw/Crime2015EXCEL/Noncampushate121314_Doc.doc
raw/Crime2015EXCEL/noncampusvawa121314.xls
raw/Crime2015EXCEL/Noncampusvawa121314_Doc.doc
raw/Crime2015EXCEL/oncampusarrest121314.xls
raw/Crime2015EXCEL/Oncampusarrest121314_Doc.doc
raw/Crime2015EXCEL/oncampuscrime121314.xls
raw/Crime2015EXCEL/Oncampuscrime121314_Doc.doc
raw/Crime2015EXCEL/oncampusdiscipline121314.xls
raw/Crime2015EXCEL/Oncampusdiscipline121314_Doc.doc
raw/Crime2015EXCEL/oncampushate121314.xlsx
raw/Crime2015EXCEL/Oncampushate121314_Doc.doc
raw/Crime2015EXCEL/oncampusvawa121314.xls
raw/Crime2015EXCEL/Oncampusvawa121314_Doc.doc
raw/Crime2015EXCEL/publicpropertyarrest121314.xls
raw/Crime2015EXCEL/Publicpropertyarrest121314_Doc.doc
raw/Crime2015EXCEL/publicpropertycrime121314.xls
raw/Crime2015EXCEL/Publicpropertycrime121314_Doc.doc
raw/Crime2015EXCEL/publicpropertydiscipline121314.xls
raw/Crime2015EXCEL/Publicpropertydiscipline121314_Doc.doc
raw/Crime2015EXCEL/publicpropertyhate121314.xlsx
raw/Crime2015EXCEL/Publicpropertyhate121314_Doc.doc
raw/Crime2015EXCEL/publicpropertyvawa121314.xls
raw/Crime2015EXCEL/Publicpropertyvawa121314_Doc.doc
raw/Crime2015EXCEL/ReadMe.txt
raw/Crime2015EXCEL/reportedarrest121314.xls
raw/Crime2015EXCEL/Reportedarrest121314_Doc.doc
raw/Crime2015EXCEL/reportedcrime121314.xls
raw/Crime2015EXCEL/Reportedcrime121314_Doc.doc
raw/Crime2015EXCEL/reporteddiscipline121314.xls
raw/Crime2015EXCEL/Reporteddiscipline121314_Doc.doc
raw/Crime2015EXCEL/reportedhate121314.xlsx
raw/Crime2015EXCEL/Reportedhate121314_Doc.doc
raw/Crime2015EXCEL/reportedvawa121314.xls
raw/Crime2015EXCEL/Reportedvawa121314_Doc.doc
raw/Crime2015EXCEL/residencehallarrest121314.xls
raw/Crime2015EXCEL/Residencehallarrest121314_Doc.doc
raw/Crime2015EXCEL/residencehallcrime121314.xls
raw/Crime2015EXCEL/Residencehallcrime121314_Doc.doc
raw/Crime2015EXCEL/residencehalldiscipline121314.xls
raw/Crime2015EXCEL/Residencehalldiscipline121314_Doc.doc
raw/Crime2015EXCEL/residencehallfire12.xls
raw/Crime2015EXCEL/Residencehallfire12_Doc.doc
raw/Crime2015EXCEL/residencehallfire13.xls
raw/Crime2015EXCEL/Residencehallfire13_Doc.doc
raw/Crime2015EXCEL/residencehallfire14.xls
raw/Crime2015EXCEL/Residencehallfire14_Doc.doc
raw/Crime2015EXCEL/residencehallhate121314.xlsx
raw/Crime2015EXCEL/Residencehallhate121314_Doc.doc
raw/Crime2015EXCEL/residencehallvawa121314.xls
raw/Crime2015EXCEL/Residencehallvawa121314_Doc.doc
raw/Crime2015EXCEL/unfounded121314.xls
raw/Crime2015EXCEL/Unfounded121314_Doc.doc
raw/Crime2016EXCEL/noncampusarrest131415.xls
raw/Crime2016EXCEL/noncampusarrest131415_Doc.doc
raw/Crime2016EXCEL/noncampuscrime131415.xls
raw/Crime2016EXCEL/noncampuscrime131415_Doc.doc
raw/Crime2016EXCEL/noncampusdiscipline131415.xls
raw/Crime2016EXCEL/noncampusdiscipline131415_Doc.doc
raw/Crime2016EXCEL/noncampushate131415.xlsx
raw/Crime2016EXCEL/Noncampushate131415_Doc.doc
raw/Crime2016EXCEL/noncampusvawa131415.xls
raw/Crime2016EXCEL/noncampusvawa131415_Doc.doc
raw/Crime2016EXCEL/oncampusarrest131415.xls
raw/Crime2016EXCEL/oncampusarrest131415_Doc.doc
raw/Crime2016EXCEL/oncampuscrime131415.xls
raw/Crime2016EXCEL/Oncampuscrime131415_Doc.doc
raw/Crime2016EXCEL/oncampusdiscipline131415.xls
raw/Crime2016EXCEL/oncampusdiscipline131415_Doc.doc
raw/Crime2016EXCEL/oncampushate131415.xlsx
raw/Crime2016EXCEL/oncampushate131415_Doc.doc
raw/Crime2016EXCEL/oncampusvawa131415.xls
raw/Crime2016EXCEL/oncampusvawa131415_Doc.doc
raw/Crime2016EXCEL/publicpropertyarrest131415.xls
raw/Crime2016EXCEL/publicpropertyarrest131415_Doc.doc
raw/Crime2016EXCEL/publicpropertycrime131415.xls
raw/Crime2016EXCEL/publicpropertycrime131415_Doc.doc
raw/Crime2016EXCEL/publicpropertydiscipline131415.xls
raw/Crime2016EXCEL/publicpropertydiscipline131415_Doc.doc
raw/Crime2016EXCEL/publicpropertyhate131415.xlsx
raw/Crime2016EXCEL/publicpropertyhate131415_Doc.doc
raw/Crime2016EXCEL/publicpropertyvawa131415.xls
raw/Crime2016EXCEL/publicpropertyvawa131415_Doc.doc
raw/Crime2016EXCEL/ReadMe.txt
raw/Crime2016EXCEL/reportedarrest131415.xls
raw/Crime2016EXCEL/reportedarrest131415_Doc.doc
raw/Crime2016EXCEL/reportedcrime131415.xls
raw/Crime2016EXCEL/reportedcrime131415_Doc.doc
raw/Crime2016EXCEL/reporteddiscipline131415.xls
raw/Crime2016EXCEL/reporteddiscipline131415_Doc.doc
raw/Crime2016EXCEL/reportedhate131415.xlsx
raw/Crime2016EXCEL/reportedhate131415_Doc.doc
raw/Crime2016EXCEL/reportedvawa131415.xls
raw/Crime2016EXCEL/reportedvawa131415_Doc.doc
raw/Crime2016EXCEL/residencehallarrest131415.xls
raw/Crime2016EXCEL/Residencehallarrest131415_Doc.doc
raw/Crime2016EXCEL/residencehallcrime131415.xls
raw/Crime2016EXCEL/residencehallcrime131415_Doc.doc
raw/Crime2016EXCEL/residencehalldiscipline131415.xls
raw/Crime2016EXCEL/residencehalldiscipline131415_Doc.doc
raw/Crime2016EXCEL/residencehallfire13.xls
raw/Crime2016EXCEL/residencehallfire13_Doc.doc
raw/Crime2016EXCEL/residencehallfire14.xls
raw/Crime2016EXCEL/residencehallfire14_Doc.doc
raw/Crime2016EXCEL/residencehallfire15.xls
raw/Crime2016EXCEL/residencehallfire15_Doc.doc
raw/Crime2016EXCEL/residencehallhate131415.xlsx
raw/Crime2016EXCEL/residencehallhate131415_Doc.doc
raw/Crime2016EXCEL/residencehallvawa131415.xls
raw/Crime2016EXCEL/residencehallvawa131415_Doc.doc
raw/Crime2016EXCEL/unfounded131415.xls
raw/Crime2016EXCEL/unfounded131415_Doc.doc
raw/Crime2017EXCEL/noncampusarrest141516.xls
raw/Crime2017EXCEL/noncampusarrest141516_Doc.doc
raw/Crime2017EXCEL/noncampuscrime141516.xls
raw/Crime2017EXCEL/noncampuscrime141516_Doc.doc
raw/Crime2017EXCEL/noncampusdiscipline141516.xls
raw/Crime2017EXCEL/noncampusdiscipline141516_Doc.doc
raw/Crime2017EXCEL/noncampushate141516.xlsx
raw/Crime2017EXCEL/noncampushate141516_Doc.doc
raw/Crime2017EXCEL/noncampusvawa141516.xls
raw/Crime2017EXCEL/noncampusvawa141516_Doc.doc
raw/Crime2017EXCEL/oncampusarrest141516.xls
raw/Crime2017EXCEL/oncampusarrest141516_Doc.doc
raw/Crime2017EXCEL/oncampuscrime141516.xls
raw/Crime2017EXCEL/Oncampuscrime141516_Doc.doc
raw/Crime2017EXCEL/oncampusdiscipline141516.xls
raw/Crime2017EXCEL/oncampusdiscipline141516_Doc.doc
raw/Crime2017EXCEL/oncampushate141516.xlsx
raw/Crime2017EXCEL/oncampushate141516_Doc.doc
raw/Crime2017EXCEL/oncampusvawa141516.xls
raw/Crime2017EXCEL/oncampusvawa141516_Doc.doc
raw/Crime2017EXCEL/publicpropertyarrest141516.xls
raw/Crime2017EXCEL/publicpropertyarrest141516_Doc.doc
raw/Crime2017EXCEL/publicpropertycrime141516.xls
raw/Crime2017EXCEL/publicpropertycrime141516_Doc.doc
raw/Crime2017EXCEL/publicpropertydiscipline141516.xls
raw/Crime2017EXCEL/publicpropertydiscipline141516_Doc.doc
raw/Crime2017EXCEL/publicpropertyhate141516.xlsx
raw/Crime2017EXCEL/publicpropertyhate141516_Doc.doc
raw/Crime2017EXCEL/publicpropertyvawa141516.xls
raw/Crime2017EXCEL/publicpropertyvawa141516_Doc.doc
raw/Crime2017EXCEL/ReadMe.txt
raw/Crime2017EXCEL/reportedarrest141516.xls
raw/Crime2017EXCEL/reportedarrest141516_Doc.doc
raw/Crime2017EXCEL/reportedcrime141516.xls
raw/Crime2017EXCEL/reportedcrime141516_Doc.doc
raw/Crime2017EXCEL/reporteddiscipline141516.xls
raw/Crime2017EXCEL/reporteddiscipline141516_Doc.doc
raw/Crime2017EXCEL/reportedhate141516.xlsx
raw/Crime2017EXCEL/reportedhate141516_Doc.doc
raw/Crime2017EXCEL/reportedvawa141516.xls
raw/Crime2017EXCEL/reportedvawa141516_Doc.doc
raw/Crime2017EXCEL/residencehallarrest141516.xls
raw/Crime2017EXCEL/Residencehallarrest141516_Doc.doc
raw/Crime2017EXCEL/residencehallcrime141516.xls
raw/Crime2017EXCEL/residencehallcrime141516_Doc.doc
raw/Crime2017EXCEL/residencehalldiscipline141516.xls
raw/Crime2017EXCEL/residencehalldiscipline141516_Doc.doc
raw/Crime2017EXCEL/residencehallfire14.xls
raw/Crime2017EXCEL/residencehallfire14_Doc.doc
raw/Crime2017EXCEL/residencehallfire15.xls
raw/Crime2017EXCEL/residencehallfire15_Doc.doc
raw/Crime2017EXCEL/residencehallfire16.xls
raw/Crime2017EXCEL/residencehallfire16_Doc.doc
raw/Crime2017EXCEL/residencehallhate141516.xlsx
raw/Crime2017EXCEL/residencehallhate141516_Doc.doc
raw/Crime2017EXCEL/residencehallvawa141516.xls
raw/Crime2017EXCEL/residencehallvawa141516_Doc.doc
raw/Crime2017EXCEL/unfounded141516.xls
raw/Crime2017EXCEL/unfounded141516_Doc.doc
raw/full.dta
raw/out_allyears.dta
raw/r.csv
raw/SA.csv
raw/tempf.dta
raw/bn.csv
raw/bn1.csv
raw/bn2.csv
raw/bn3.csv
raw/trends.csv
raw/daily_trends.csv
~$FirstSlides.pptx
SecondSlides.pptx
~$SecondSlides.pptx
~$FirstSlides.pptx
raw/daily_trends_full.csv
clean_raw.log
clean/police_daily_by_county.dta
clean/police_daily_by_county_plus.dta
*.ipynb
raw/high_profile_events.csv
notes_for_last_draft.md
